Repository theforeman/foreman_rh_cloud, pull requests merged in 2021-03, with the labels that each got.

#492 [CP 1.24] Fix inventory file download error handling (#477) (#488)
  app/controllers/foreman_inventory_upload/uploads_controller.rb
  webpack/ForemanInventoryUpload/Components/Dashboard/DashboardActions.js
  webpack/ForemanInventoryUpload/Components/Dashboard/__tests__/DashboardActions.test.js
Labels: Foreman 1.24

#493 Add tags to inventory_export_url (#489)
  lib/foreman_inventory_upload.rb
Labels: Foreman 2.1

#494 Add tags to inventory_export_url (#489)
  lib/foreman_inventory_upload.rb
Labels: Foreman 1.24

#503 handle accounts by label nor id (#495)
  app/controllers/foreman_inventory_upload/accounts_controller.rb
  test/controllers/accounts_controller_test.rb
  webpack/ForemanInventoryUpload/Components/AccountList/AccountList.fixtures.js
  webpack/ForemanInventoryUpload/Components/AccountList/AccountList.js
  webpack/ForemanInventoryUpload/Components/AccountList/AccountListHelper.js
  webpack/ForemanInventoryUpload/Components/AccountList/Components/ListItem/ListItem.fixtures.js
  webpack/ForemanInventoryUpload/Components/AccountList/Components/ListItem/ListItem.js
  webpack/ForemanInventoryUpload/Components/AccountList/Components/ListItem/__tests__/__snapshots__/ListItem.test.js.snap
  webpack/ForemanInventoryUpload/Components/AccountList/__tests__/AccountListHelper.test.js
  webpack/ForemanInventoryUpload/Components/AccountList/__tests__/__snapshots__/AccountList.test.js.snap
  webpack/ForemanInventoryUpload/Components/AccountList/__tests__/__snapshots__/AccountListActions.test.js.snap
  webpack/ForemanInventoryUpload/Components/AccountList/__tests__/__snapshots__/AccountListReducer.test.js.snap
  webpack/ForemanInventoryUpload/Components/AccountList/__tests__/__snapshots__/AccountListSelectors.test.js.snap
Labels: Foreman 2.1

#506 handle accounts by label nor id (#495) (#503)
  app/controllers/foreman_inventory_upload/accounts_controller.rb
  test/controllers/accounts_controller_test.rb
  webpack/ForemanInventoryUpload/Components/AccountList/AccountList.fixtures.js
  webpack/ForemanInventoryUpload/Components/AccountList/AccountList.js
  webpack/ForemanInventoryUpload/Components/AccountList/AccountListHelper.js
  webpack/ForemanInventoryUpload/Components/AccountList/Components/ListItem/ListItem.fixtures.js
  webpack/ForemanInventoryUpload/Components/AccountList/Components/ListItem/ListItem.js
  webpack/ForemanInventoryUpload/Components/AccountList/Components/ListItem/__tests__/__snapshots__/ListItem.test.js.snap
  webpack/ForemanInventoryUpload/Components/AccountList/__tests__/AccountListHelper.test.js
  webpack/ForemanInventoryUpload/Components/AccountList/__tests__/__snapshots__/AccountList.test.js.snap
  webpack/ForemanInventoryUpload/Components/AccountList/__tests__/__snapshots__/AccountListActions.test.js.snap
  webpack/ForemanInventoryUpload/Components/AccountList/__tests__/__snapshots__/AccountListReducer.test.js.snap
  webpack/ForemanInventoryUpload/Components/AccountList/__tests__/__snapshots__/AccountListSelectors.test.js.snap
Labels: Foreman 1.24

#509 [CP 2.1] Escape string values in inventory json stream (#507)
  lib/foreman_inventory_upload/generators/json_stream.rb
  test/unit/slice_generator_test.rb
Labels: Foreman 2.1

#512 Bump version to 2.0.18
  lib/foreman_rh_cloud/version.rb
  package.json
Labels: Foreman 2.1

#513 Bump version to 1.0.18
  lib/foreman_rh_cloud/version.rb
  package.json
Labels: Foreman 1.24

#490 Refactor Inventory full-sync task to be async
  app/controllers/foreman_inventory_upload/tasks_controller.rb
  app/controllers/foreman_inventory_upload/uploads_settings_controller.rb
  config/routes.rb
  lib/inventory_sync/async/inventory_full_sync.rb
  lib/tasks/insights.rake
  test/jobs/inventory_full_sync_test.rb
  webpack/ForemanInventoryUpload/Components/InventoryFilter/__tests__/__snapshots__/integration.test.js.snap
  webpack/ForemanInventoryUpload/Components/PageHeader/components/SyncButton/SyncButtonActions.js
  webpack/ForemanInventoryUpload/Components/PageHeader/components/SyncButton/SyncButtonConstants.js
  webpack/ForemanInventoryUpload/Components/PageHeader/components/SyncButton/SyncButtonReducer.js
  webpack/ForemanInventoryUpload/Components/PageHeader/components/SyncButton/SyncButtonSelectors.js
  webpack/ForemanInventoryUpload/Components/PageHeader/components/SyncButton/__tests__/SyncButtonActions.test.js
  webpack/ForemanInventoryUpload/Components/PageHeader/components/SyncButton/__tests__/SyncButtonFixtures.js
  webpack/ForemanInventoryUpload/Components/PageHeader/components/SyncButton/__tests__/SyncButtonReducer.test.js
  webpack/ForemanInventoryUpload/Components/PageHeader/components/SyncButton/__tests__/SyncButtonSelectors.test.js
  webpack/ForemanInventoryUpload/Components/PageHeader/components/SyncButton/__tests__/__snapshots__/SyncButtonActions.test.js.snap
  webpack/ForemanInventoryUpload/Components/PageHeader/components/SyncButton/__tests__/__snapshots__/SyncButtonReducer.test.js.snap
  webpack/ForemanInventoryUpload/Components/PageHeader/components/SyncButton/__tests__/__snapshots__/SyncButtonSelectors.test.js.snap
  webpack/ForemanInventoryUpload/Components/PageHeader/components/SyncButton/__tests__/__snapshots__/integrations.test.js.snap
  webpack/ForemanInventoryUpload/Components/PageHeader/components/SyncButton/__tests__/integrations.test.js
  webpack/ForemanInventoryUpload/Components/PageHeader/components/SyncButton/index.js
  webpack/ForemanInventoryUpload/ForemanInventoryUploadReducers.js
  webpack/__mocks__/foremanReact/redux/middlewares/IntervalMiddleware.js
Labels: WIP

#525 [CP 2.1] Add unique constraint to insights_facets
  config/Gemfile.lock.gh_test
  db/migrate/20210307000001_add_unique_to_insights_facet.foreman_rh_cloud.rb
Labels: Foreman 2.1

#526 [CP 1.24] Add unique constraint to insights_facets
  config/Gemfile.lock.gh_test
  db/migrate/20210307000001_add_unique_to_insights_facet.foreman_rh_cloud.rb
Labels: Foreman 1.24

#527 bump to 2.0.18.1
  lib/foreman_rh_cloud/version.rb
  package.json
Labels: Foreman 2.1
